.app {
  background-color: #fafafa;
  position: relative;
}
.app__header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  font-size: 0.9rem;
  position: sticky;
  top: 0;
  z-index: 2 !important;
}
.app__headerImage {
  width: 120px;
}
.app__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
